<nav class="navbar bg-light">
	<div class="container-fluid">
		<a (click)="selectedBucket = -1; showNewBucketCard = false" href="#" class="navbar-brand">Secure Cloud Storage</a>
	</div>
</nav>

<div class="container mt-5">
	<h2>
		<span (click)="selectedBucket = -1" class="cursor-pointer">Bucket List</span>
		<span *ngIf="selectedBucket >= 0"><i class="bi bi-chevron-right mx-2"></i>{{ buckets[selectedBucket].name }}</span>
	</h2>
</div>

<div *ngIf="selectedBucket < 0">
	<div *ngIf="showNewBucketCard" class="container mt-5">
		<h6>Create New Bucket</h6>
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col">
						<div class="mb-3">
							<label class="form-label">Bucket Name*</label>
							<input [(ngModel)]="newBucketName" type="text" class="form-control"/>
						</div>
					</div>
					<div class="col">
						<div class="mb-3">
							<label class="form-label">Bucket Location*</label>
							<select [(ngModel)]="newBucketLocation" class="form-select">
								<option *ngFor="let location of locations" [ngValue]="location">{{ location }}</option>
							</select>
						</div>
					</div>
				</div>
				<button (click)="createNewBucket(newBucketName, newBucketLocation)" type="button" class="btn btn-primary" style="margin-right: 16px;">Create Bucket</button>
				<button (click)="showNewBucketCard = false" type="button" class="btn btn-light">Cancel</button>
				<div *ngIf="newBucketError" class="text-danger">Missing name or location</div>
			</div>
		</div>
	</div>

	<div class="container mt-3">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">
					All Buckets ({{ buckets.length }})
					<button *ngIf="!showNewBucketCard" (click)="openNewBucketCard()" type="button" class="btn btn-primary" style="float: right;">Create New Bucket</button>
				</h5>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Location</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let bucket of buckets; index as i" (click)="selectedBucket = i; activeTab = 0; showNewBucketCard = false" class="cursor-pointer">
							<td>{{bucket.name}}</td>
							<td>{{bucket.location}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div *ngIf="selectedBucket >= 0">
	<div class="container mt-3">
		<button *ngIf="activeTab > 0" (click)="openModal(modal, deleteBucket, selectedBucket, 'Do you really want to delete this bucket?')" type="button" class="btn btn-danger" style="float: right; margin-left: 16px;">Delete Bucket</button>
		<nav ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
			<ng-container [ngbNavItem]="0">
				<a ngbNavLink>Files</a>
				<ng-template ngbNavContent>
					<div class="card mt-3">
						<div class="card-body">
							<h5 class="card-title">
								All Files ({{ buckets[selectedBucket].files.length }})
								<label for="fileUpload" class="btn btn-primary" style="float: right;">Upload Object</label>
								<input type="file" id="fileUpload" style="display: none;" (change)="handleFileInput($event)"/>
								<!-- <button (click)="uploadObject()" type="file" class="btn btn-primary" style="float: right; margin-left: 16px;">Upload Object</button> -->
								<!-- <button (click)="deleteObject()" type="button" class="btn btn-danger" style="float: right;">Delete Object</button> -->
							</h5>
							<table class="table">
								<thead>
									<tr>
										<th scope="col">Name</th>
										<th scope="col">Last modified</th>
										<th scope="col">Size</th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let file of buckets[selectedBucket].files; index as i">
										<td>{{file.name}}</td>
										<td>{{getDateString(file.lastModified)}}</td>
										<!-- <td>{{(file.size/1000000).toFixed(2)}} MB</td> -->
										<td>{{getSizeString(file.size)}}</td>
										<td class="text-danger">
											<i (click)="openModal(modal, deleteObject, i, 'Do you really want to delete this object?')" class="bi bi-trash-fill cursor-pointer" placement="end" ngbTooltip="Delete Object"></i>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</ng-template>
			</ng-container>
			<ng-container [ngbNavItem]="1">
				<a ngbNavLink>Details</a>
				<ng-template ngbNavContent>
					<div class="card mt-3">
						<div class="card-body">
							<div class="row">
								<div class="col-3" style="text-align: right;">
									Bucket name:
								</div>
								<div class="col-3">
									{{buckets[selectedBucket].name}}
								</div>
							</div>
							<div class="row">
								<div class="col-3" style="text-align: right;">
									Location:
								</div>
								<div class="col-3">
									{{buckets[selectedBucket].location}}
								</div>
							</div>
							<div class="row">
								<div class="col-3" style="text-align: right;">
									Storage size:
								</div>
								<div class="col-3">
									{{getTotalSize(buckets[selectedBucket])}}
								</div>
							</div>
						</div>
					</div>
				</ng-template>
			</ng-container>
		</nav>
		<div [ngbNavOutlet]="nav" class="mt-2"></div>
	</div>
</div>

<ng-template #modal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{ modalTitle }}</h4>
		<button class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" (click)="modalCallback(); modal.close()">Delete</button>
		<button class="btn btn-light" (click)="modal.close()">Cancel</button>
	</div>
</ng-template>